body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.tela {
    background-image: url(../img/bg.png);
    height: 100vh;
}

.moldura {
    background-color: white;
    margin: auto;
    width: 85vw;
    height: 85vh;
    border: 5px solid gray;
    border-radius: 15px;
}

.logo {
    margin: 10px auto;
    width: auto;
}

.content {
    height: 75vh;
    margin: auto;
}

.principal {
    width: 100%;
    margin-top: 300px;
    color: grey;
    font-size: 4em;
}

.segundo {
    color: grey;
    font-size: 1em;
    margin-top: 20px;
    margin-bottom: 50px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 900px;
    margin: 50px auto;
}

.container img {
    width: 450px;
}

.container-content {
    width: 100%;
}